@page
@model FilmClient.Pages.FilmPerson.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing a Relation does not make much sense</h2>
<hr />
<h3>Try deleting and recreating the relation</h3>

