@page
@using FilmAPI.Common.Constants;
@model FilmClient.Pages.Default.EditModel
@{
    ViewData["Title"] = "Edit Default Values";
    var bd = FilmConstants.MediumType_BD;
    var dvd = FilmConstants.MediumType_DVD;
    var left = FilmConstants.Location_Left;
    var left1 = FilmConstants.Location_Left1;
    var left2 = FilmConstants.Location_Left2;
    var left3 = FilmConstants.Location_Left3;
    var left4 = FilmConstants.Location_Left4;
    var right = FilmConstants.Location_Right;
    var right1 = FilmConstants.Location_Right1;
    var right2 = FilmConstants.Location_Right2;
    var right3 = FilmConstants.Location_Right3;
    var right4 = FilmConstants.Location_Right4;
    var top = FilmConstants.Location_Top;
    var middle = FilmConstants.Location_Middle;
    var bottom = FilmConstants.Location_Bottom;
    var bd1 = FilmConstants.Location_BD1;
    var bd2 = FilmConstants.Location_BD2;
    var bd3 = FilmConstants.Location_BD3;
    var bd4 = FilmConstants.Location_BD4;
    var shelf1 = FilmConstants.Location_Shelf1;
    var actor = FilmConstants.Role_Actor;
    var composer = FilmConstants.Role_Composer;
    var director = FilmConstants.Role_Director;
    var writer = FilmConstants.Role_Writer;
}

<h2>@ViewData["Title"]</h2>
<hr />
<h3>The default values to edit</h3>
<hr />
<div class="row">
    <div class="col-md4">
        <form method="post">
            <label>Medium Type</label>
            <div class="form-group">
                <label asp-for="DefaultValuesToEdit.MediumType" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.MediumType" value=@dvd>
                    @dvd
                </label>
                <label asp-for="DefaultValuesToEdit.MediumType" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.MediumType" value=@bd>
                    @bd
                </label>
            </div>
            <label>Location</label>
            <div class=" form-group">
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@left>
                    @left
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@left1>
                    @left1
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@left2>
                    @left2
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@left3>
                    @left3
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@left4>
                    @left4
                </label>
            </div>
            <div class=" form-group">
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@right>
                    @right
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@right1>
                    @right1
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@right2>
                    @right2
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@right3>
                    @right3
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@right4>
                    @right4
                </label>
            </div>
            <div class=" form-group">
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@top>
                    @top
                </label><label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@middle>
                    @middle
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@bottom>
                    @bottom
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@bd1>
                    @bd1
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@bd2>
                    @bd2
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@bd3>
                    @bd3
                </label>
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@bd4>
                    @bd4
                </label>
            </div>
            <div class=" form-group">
                <label asp-for="DefaultValuesToEdit.Location" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Location" value=@shelf1>
                    @shelf1
                </label>
            </div>
            <label>Role</label>
            <div class="form-group">
                <label asp-for="DefaultValuesToEdit.Role" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Role" value=@actor>
                    @actor
                </label>
                <label asp-for="DefaultValuesToEdit.Role" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Role" value=@composer>
                    @composer
                </label>
                <label asp-for="DefaultValuesToEdit.Role" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Role" value=@director>
                    @director
                </label>
                <label asp-for="DefaultValuesToEdit.Role" class="radio-inline">
                    <input type="radio" asp-for="DefaultValuesToEdit.Role" value=@writer>
                    @writer
                </label>
            </div>
            <div>
                <input type="hidden" asp-for="DefaultValuesToEdit.Key" />
                <input type="submit" value="Save" class="btn btn-default" /> |
                <a asp-page="Index">Back To List</a>
            </div>
        </form>
    </div>
</div>

