@page
@model FilmClient.Pages.Person.CreateModel
@{
    ViewData["Title"] = "Create A Person Entry";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonToAdd.FirstMidName" class="control-label" autofocus></label>
                <input asp-for="PersonToAdd.FirstMidName" class="form-control" autofocus />
                <span asp-validation-for="PersonToAdd.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToAdd.LastName" class="control-label"></label>
                <input asp-for="PersonToAdd.LastName" class="form-control" />
                <span asp-validation-for="PersonToAdd.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToAdd.BirthdateString" class="control-label"></label>
                <input asp-for="PersonToAdd.BirthdateString" class="form-control" />
                <span asp-validation-for="PersonToAdd.BirthdateString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" /> |
                <a asp-page="Index">Back to list</a>
            </div>
        </form>
    </div>
</div>

