@page
@model FilmClient.Pages.Person.EditModel
@{
    ViewData["Title"] = "Edit A Person Entry";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonToEdit.FirstMidName" class="control-label"></label>
                <input asp-for="PersonToEdit.FirstMidName" class="form-control" autofocus />
                <span asp-validation-for="PersonToEdit.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToEdit.LastName" class="control-label"></label>
                <input asp-for="PersonToEdit.LastName" class="form-control" readonly />
                <span asp-validation-for="PersonToEdit.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToEdit.BirthdateString" class="control-label"></label>
                <input asp-for="PersonToEdit.BirthdateString" class="form-control" readonly />
                <span asp-validation-for="PersonToEdit.BirthdateString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" /> |
                <a asp-page="Index">Back to list</a>
            </div>
        </form>
    </div>
</div>

