@page
@using FilmAPI.Common.Constants;
@model FilmClient.Pages.Medium.CreateModel
@{
    ViewData["Title"] = "Create";
    var bd = FilmConstants.MediumType_BD;
    var dvd = FilmConstants.MediumType_DVD;
    var left = FilmConstants.Location_Left;
    var left1 = FilmConstants.Location_Left1;
    var left2 = FilmConstants.Location_Left2;
    var left3 = FilmConstants.Location_Left3;
    var left4 = FilmConstants.Location_Left4;
    var right = FilmConstants.Location_Right;
    var right1 = FilmConstants.Location_Right1;
    var right2 = FilmConstants.Location_Right2;
    var right3 = FilmConstants.Location_Right3;
    var right4 = FilmConstants.Location_Right4;
    var top = FilmConstants.Location_Top;
    var middle = FilmConstants.Location_Middle;
    var bottom = FilmConstants.Location_Bottom;
    var bd1 = FilmConstants.Location_BD1;
    var bd2 = FilmConstants.Location_BD2;
    var bd3 = FilmConstants.Location_BD3;
    var bd4 = FilmConstants.Location_BD4;
    var shelf1 = FilmConstants.Location_Shelf1;
}
<div class="container">
    <h2>Create A New Medium</h2>
    <hr />
    <h3>Medium To Add</h3>
    <div class=" row">
        <div class="col-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Title" class="control-label"></label>
                    <input asp-for="MediumToAdd.Title" class="form-control" autofocus />
                    <span asp-validation-for="MediumToAdd.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Year" class="control-label"></label>
                    <input asp-for="MediumToAdd.Year" class="form-control" />
                    <span asp-validation-for="MediumToAdd.Year" class="text-danger"></span>
                </div>
                <label>Medium Type</label>
                <div class="form-group">
                    <label asp-for="MediumToAdd.MediumType" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.MediumType" value=@dvd>
                        @dvd
                    </label>
                    <label asp-for="MediumToAdd.MediumType" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.MediumType" value=@bd>
                        @bd
                    </label>
                </div>
                <div>
                <label>Has German Subtitles</label>
                <div class="form-group">
                    <label asp-for="MediumToAdd.GermanSubtitles" class="checkbox-inline">
                        <input type="checkbox" asp-for="MediumToAdd.GermanSubtitles" value=@true>
                    </label>
                </div>
                </div>
                <label>Location</label>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@left>
                        @left
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@left1>
                        @left1
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@left2>
                        @left2
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@left3>
                        @left3
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@left4>
                        @left4
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@right>
                        @right
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@right1>
                        @right1
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@right2>
                        @right2
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@right3>
                        @right3
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@right4>
                        @right4
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@top>
                        @top
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@middle>
                        @middle
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@bottom>
                        @bottom
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@bd1>
                        @bd1
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@bd2>
                        @bd2
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@bd3>
                        @bd3
                    </label>
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@bd4>
                        @bd4
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="MediumToAdd.Location" class="radio-inline">
                        <input type="radio" asp-for="MediumToAdd.Location" value=@shelf1>
                        @shelf1
                    </label>
                </div>
                <div>
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

